<h2><%=@profile.name %></h2>
<p>Description: <%=@profile.description %></p>
<p>Street: <%=@profile.street %></p>
<p>Postcode: <%=@profile.postcode %></p>
<p>Main of contact: <%=@profile.contact_first_name %> <%=@profile.contact_last_name %></p>
