<div class="charity_profile_form">
  <%= form_for @profile do |f| %>

    <fieldset>
      <%= f.label :image, 'Profile image' %>
      <%= f.file_field :image %>
    </fieldset>  

    <fieldset>
      <%= f.label :description %>
      <%= f.text_area :description, size: "60x12" %>
    </fieldset>

    <fieldset>
      <%= f.label :street %>
      <%= f.text_field :street %>
    </fieldset>

    <fieldset>
      <%= f.label :postcode %>
      <%= f.text_field :postcode %>
    </fieldset>

    <fieldset>
      <%= f.label :contact_first_name, 'Main contact (first name)' %>
      <%= f.text_field :contact_first_name %>
    </fieldset>

    <fieldset>
      <%= f.label :contact_last_name, 'Main contact (last name)' %>
      <%= f.text_field :contact_last_name %>
    </fieldset>

    <fieldset>
      <%= f.submit "submit" %>
    </fieldset>
  <% end %>
</div>


