
<div class="centered-text" id="package-summary">
  <%= render partial: 'products/package_summary' %>
 
  <div id="add-product-form">
  </div>
</div>

<h3 class="centered-text">Products needed by charities</h3>
<div class="centered-text">
  <%= link_to "All", products_path  %>
  <%= link_to "Food", products_path(category: "Food"), method: :get  %>
  <%= link_to "Else", products_path(category: "Else"), method: :get  %>
</div>

<div class="product-wrapper">
  <% @products.each do |product| %>


  <div class="product-box centered-text" >
    <%= link_to product.name, package_item_form_products_path(product_id: product.id), class: "product-links", remote: true %>
  </div>

  <% end %>
</div>
