<h4>Add this product: </h4>

<%= form_for @package_item do |f| %>

<%= f.hidden_field :product_id, value: params[:product_id].to_i %>

<fieldset>
  <%= f.label :quantity %>
  <%= f.text_field :quantity %>
</fieldset>

<% if @product.category == "Food" %>
<fieldset>
  <%= f.label :expiration_date %>
  <%= f.date_field :expiration_date %>
</fieldset>
<% end %>

<fieldset>
  <%= f.submit "Add to package" %>
</fieldset>

<% end %>