<!DOCTYPE html>
<html>
  <head>
    <title>CharityApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Open+Sans', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>


  <body>
    <div class="topnav" id="myTopnav">
      <nav> 
        <%= link_to "", root_path, class: "iconicfill-home" %>
        <%= link_to "Sign up", register_path %>
      </nav>

      <span class="notice"><%= flash[:notice] %></span>
      <span class="alert"><%= flash[:alert] %></span>

    </div>

    <%= yield %>

    <footer>
      ©​‌ 2017 Joeffrey Lamy
    </footer>
  </body>

</html>
